ul {
  list-style: none;
  color: black; /* Just for visibility, adjust as needed */
  font-size: 130%;
  font-family: arial;
  background-color: white;
  margin-top: 23px;
  padding: 0;
  width: 100%; /* Ensures it takes the full width of its container */
  display: flex; /* Use flexbox to center the content */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Horizontally center the content */
}

li{
  margin-bottom:2px;
  margin-top:10;
  
}

header{
    display:flex;
    background-color:pink;
    justify-content:center;
    align-items: center;
    position:fixed;
    width:100%;
    height:12%;
    top:0;
     

    
}

nav {
    width: 100%;
    max-width: 100%;
    height: 50px;
    margin-top:-134;
    text-align:center;
    margin-bottom:60;
    
  }

  h1{
    text-align: center;
    padding-left:10;
    color:white;
    font-family: cambria;
    

    
  }

  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-top:50px;
    margin-bottom: -40;
    margin-right:5;
    margin-left:5;
    
    
  }

  body{
    margin:0;
    padding-top: 200px;
  }

  .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
