ul{
    display:flex;
    justify-content: space-evenly;
    list-style:none;
    color:;
    font-size:130%;
    font-family: arial;
    gap: %;
    width:100%;
    

}

 

header{
    display:flex;
    background-color:pink;
    justify-content:space-between;
    align-items: center;
    position:fixed;
    width:100%;
    height:12%;
    top:0;

    
}

.minibar{
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    height:12%;
    margin-top:-113px;
   
    
}



nav {
    width: 100%;
    max-width: 100%;
    height: 50px;
  }

  h1{
    text-align: center;
    padding-left:10;
    color:white;
    font-family: cambria;

    
  }

  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    
  }

  body{
    margin:0;
    padding-top: 200px;
  }

  .gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
