header {
    height:125px;
	background-color:pink;
	text-align:center;
	display:flex;
	justify-content:center;
	
  }

.menu {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100px;
  background-color:;
 
}

.menu ul {
  display: flex;
  justify-content: space-around; /* Space out the list items */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  font-size: 20px;
  font-weight: bold;
  margin-right: 100px; /* Increase the space between the words */
  margin-left:100px;
  margin-top:50px;
  text-decoration: underline; /* Underline the text */
  font-family:verdana;

}



  h1 {
	  color:white;
	  font-size:40px;
	  font-family:verdana;
    
  }

  img {
    max-width: 200px;
    height: auto;
  }
  
  .gallery
  {
	  margin-left:50px;
  }
  
  h2
  {
	  text-align:center;
	  font-family:verdana;
	 
  }
  
 h3
 {
	 font-size:22px;
 }
  
  
  
  .Knitwear {
  margin-top: 100px;
}

.menu
{
	height:50px;
	margin-top:50;
	
}

@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
