header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: pink;
  align-items: center;
  top: 0;
}

ul {
  display: flex;
}

li {
  display: flex;
  margin-right: 50px;
}

h1 {
  color: White;
  margin-left: 50px;
  font-size: 50px; /* Desktop font size */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  margin-left: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

.about {
  height: 250px;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20px; /* Desktop font size */
  font-weight: bold;
  font-family: verdana;
}

.knitwear {
  
}

h2 {
  text-align: center;
  font-family: verdana;
}

h3 {
  font-family: verdana;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */

  /* Mobile font sizes */
  h1 {
    font-size: 24px;
  }
  .about {
    font-size: 14px;
    height: auto;
    padding: 20px;
  }

  .gallery {
    justify-content: center;
    padding: 0 8px; /* Add padding to align with container */
  }

  .gallery img {
    flex-basis: calc(50% - 8px);
    margin-bottom: 16px;
  }
  
  @media (max-width: 480px) {
    .gallery img {
      flex-basis: calc(50% - 8px);
    }
  }
}
